.container {
    background-color: #fff;
    margin: 12px;
    padding: 12px 18px 25px 18px;
    border-radius:  24px 0 24px 0;
    box-shadow: 1px 1px 3px  #00000030;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap
}

.title {
    font-size: 20px
}

.date {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}